/* work-sans_Font_link */
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

/* shared style  */

.display{
    display: flex;
}
/* font_color shared section  */
.dark_3{
    color: #727272;
}
.dark_2{
    color: #424242;
}

/* all_button_styel */
.btn_primary{
    color: #FFFFFF;
    font-size: 1.2rem;
    background-color:#FF900E;
    padding: 10px;
    border: none;
    border-radius: 5px;

}
/* Backgroun_color style  */
.bg_color{
    background-color: #FF900E1A;
}
/* all content_width */
.max_content{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style  */
.nav_contain{
    justify-content: space-between;
    align-items: center;
}
.nav_baner{
    font-size: 2.9rem;
    font-weight: bold;
}
.navber-link{
    gap: 25px;
}
ul .link_item{
    list-style: none;
}
ul .link_item a{
    text-decoration: none;
    color:#424242 ;
}
/* Header_Baner_Style  */
.baner_text_conten{
    max-width: 862px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.baner_title{
    font-size: 4rem;
    font-weight:bold;
    margin-bottom: 0px;
}
.baner_img{
    width: 100%;
}

/* main style start  */
.main_section_margin{
    margin-bottom: 130px;
}
/* feature_sectio-Style */
.feature_img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
     
}
.feature_section{
    background-color:#F3E5F5;
    border-radius: 10px;
    align-items: center;
    gap: 150px;
    
    padding:10px;
    margin-top: 5.2rem;
     
}
.featuer_alone{
    color:#FF900E ;
}
.feature_titele{
    font-size: 3rem;
    font-weight: bold;
}
.feature_content{
    max-width: 468px;
}

/* Feature_enjoy Setle Section  */
.feature_enjoy_section{
    gap: 150px;
     
}
.feature_enjoy_title{
    font-size: 3rem;
    font-weight: bold;
}
.feature_item{
    box-sizing: border-box;
    max-width: 400px;
    height: 170px;
    box-shadow:0 4px 30px 0 #dddcdc ;
    border-radius: 10px;
    padding:5px 20px 10px;
    margin-bottom: 10px;
}
.enjoy_yeare{
    box-sizing: border-box;
    background-color:#FF900E ;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -80px;
    left: -100px;
}
.feature_enjoy_img_continer{
    max-width: 100%;
}
.years_title{
    font-size: 4.01rem;
    font-weight: bold;
    color: white;
}

/* facts style sectin  */
 .facts_title{
    font-size: 3rem;
    font-weight: bold;
 }
.fact-content{
    max-width: 542px;
}
.facts_iemts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
     
}
.facts_name,
.facts_number,
.facts_icon{
   margin-bottom: 0;
   line-height: 1;
}
.facts_item{
    border: 1px solid #FF900E;
    padding: 20px;
    text-align: center;
    flex: 1;
    box-sizing: border-box;
    border-radius: 5px;
}

/* footer style  */
.footer_content{
    max-width: 542px;
    margin: auto;
    text-align: center;
    
}
.footer_contaner {
    margin-bottom: 100px;
}
.footer_title{
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: bold;
}
.footer_imgae_continer{
    display:flex;
    justify-content: space-between;
     
}
.footer_imgae_contine img{
    max-width: 100%;
}
.copy_right_section{
    text-align: center;
    padding: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
}
footer{
    background-color: #EEEEEE;
}
    
 

/* Responsive_design */

/* small_device */
@media screen and (max-width:576px) {
    .nav_contain{
        flex-direction: column;
    }
    nav>ul{
        padding:0px;
    }
    .feature_section{
        flex-direction: column;
        gap: 50px;
    }
    .feature_img{
        grid-template-columns: 1fr;
    }
    .feature_enjoy_section{
        flex-direction: column;
        gap: 150px;
    }
    /* .feature_enjoy_img_continer{
        max-width: 50%;
         
    } */
    .enjoy_yeare{
        position: relative;
       top: 0;
       left: 0;
    }
    .max_content{
        max-width: 100%;
    }
    .feature_enjoy_section{
        gap: 20px;
    }
    .feature_enjoy_img_continer img{
        width: 100%;
    }
    .facts_iemts{
        grid-template-columns: 1fr;
    }
    .feature_enjoy_section{
        grid-template-columns:1fr;
    }
    .footer_imgae_continer{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
       gap: 50px;
    }
}
